
# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
./databases/api/dist
./databases/api/node_modules

/databases/api/node_modules
/databases/api/dist
/databases/api/package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./databases/front/node_modules
./databases/front/.pnp
./databases/front.pnp.js

# testing
./databases/front/coverage

# production
./databases/front/build

# misc

./databases/front/npm-debug.log*

/databases/api/node_modules
/databases/api/dist
/databases/api/package-lock.json